*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: #232725; }

.container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6.5rem)) 1fr;
  grid-template-rows: 12rem min-content min-content min-content; }

.navbar {
  grid-column: 1 / -1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem; }
  .navbar__items {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6e8c5; }
  .navbar__items > * {
    text-decoration: none;
    margin: .5rem 1rem;
    padding: .3rem;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 600;
    color: #3ba537;
    text-transform: uppercase;
    transition: all ease .2s; }
  .navbar__items > *:hover {
    border-bottom: 1.5px solid #3ba537; }
  .navbar__btn {
    color: #fff;
    background: #009245;
    width: 12.7rem;
    height: 4rem;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 8rem; }
  .navbar__texts {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0; }
  .navbar__right {
    display: flex;
    margin: 0 6rem;
    align-items: center;
    justify-content: center; }
  .navbar__right > * {
    background: #009245;
    color: #fff;
    padding: 0.8rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 0.2rem; }
  .navbar__heading {
    color: #065fa6;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 3rem; }
  .navbar__homebtn {
    font-size: 1.2rem;
    margin: 0 2rem; }
  .navbar__homebtn > * {
    margin: 0 .5rem; }

.homelink {
  text-decoration: none;
  color: #000; }

.main {
  grid-column: 1 / -1;
  position: relative;
  height: 70vh;
  width: 100vw;
  overflow: hidden; }
  .main__image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(17, 82, 16, 0.31);
    backdrop-filter: blur(2.5px); }
  .main__quotation {
    position: absolute;
    background-color: #009245;
    width: 25rem;
    height: 25rem;
    top: 21%;
    left: 5%;
    z-index: 10;
    color: #fff;
    font-family: Cookie;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    line-height: 5.5rem; }

.slide {
  height: 70vh;
  width: 100vw;
  background-size: cover;
  position: absolute;
  opacity: 0;
  animation: fade 20s infinite; }

.slide1 {
  background: url(../assets/main-image.png);
  height: 70vh; }

.slide2 {
  background: url(../assets/groupImg2.jpg);
  animation-delay: 5s; }

.slide3 {
  background: url(../assets/groupImg1.jpg) no-repeat center center;
  animation-delay: 10s; }

@keyframes fade {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  25% {
    opacity: 1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0; } }

.chairman {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding: 3rem;
  margin: 2rem 5rem; }
  .chairman__image {
    float: right;
    display: block;
    margin: 0 2rem 2rem 4rem;
    height: 39vw; }
  .chairman__text-heading {
    font-family: Montserrat;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.3rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(7, 134, 4, 0.91); }
  .chairman__text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 185.2%;
    letter-spacing: 0.03em;
    color: #232725; }

.glimpse {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  background: linear-gradient(207deg, rgba(66, 133, 186, 0.52) 21.72%, rgba(66, 133, 186, 0.52) 21.73%, rgba(151, 172, 151, 0.52) 98.62%, rgba(7, 134, 4, 0.4264) 98.63%, rgba(13, 85, 30, 0.118519) 98.64%, rgba(14, 95, 13, 0) 98.65%); }
  .glimpse__text {
    flex: 1 0 25rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 185.2%;
    letter-spacing: 0.03em;
    color: #232725; }
  .glimpse__image {
    flex: 1 0 25rem;
    width: 62.3rem;
    filter: drop-shadow(9px 16px 50px rgba(54, 47, 47, 0.25)); }

.footer {
  background-color: #009245;
  grid-column: 1 / -1;
  width: 100vw;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: start; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-4px); }

.copyright {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 6rem;
  text-align: center; }

.form__input {
  padding: .5rem;
  margin: .5rem 0rem;
  border: none;
  border-radius: 5px;
  width: 30rem; }

.form__title {
  color: #000;
  font-size: 1.6rem; }

.submit__btn {
  padding: .5rem;
  width: 10rem;
  color: #fff;
  background-color: #009245;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer; }
  .submit__btn:hover {
    color: #009245;
    background: #fff; }

.contact__head {
  color: #000;
  font-size: 1.6rem; }

.contact__details {
  font-size: 1.2rem; }

.contact__mobile {
  font-size: 1.5rem;
  margin: 0 1rem; }

.icon {
  margin: 0 1.5rem; }
  .icon__google {
    font-size: 2rem;
    color: #fff;
    background: #DB4437;
    padding: .7rem;
    border-radius: 50%; }
  .icon__facebook {
    font-size: 3rem;
    color: #fff;
    background: #4267B2;
    padding: -1rem; }
  .icon__instagram {
    font-size: 3rem;
    background: -webkit-linear-gradient(#405DE6, #833AB4, #C13584, #C13584, #FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.social__head {
  font-size: 1.5rem; }

.gallery {
  position: relative;
  height: 18rem;
  grid-column: 1 / -1; }
  .gallery__text {
    color: #3ba537;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.3rem;
    grid-column: 1 / -1;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gallery__image {
    position: absolute;
    width: 100vw;
    height: 100%; }
  .gallery__overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: rgba(56, 70, 87, 0.53);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 185.2%;
    text-align: center;
    color: #e3e7ed; }

.vertnav {
  grid-column: 2 / 5;
  height: 78.4rem;
  margin-top: 3rem;
  padding-top: 5rem;
  transform: translateX(-15rem);
  background-color: #065fa6;
  color: #fcfffc;
  display: flex;
  flex-direction: column; }
  .vertnav__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
    margin: 0.5rem 0; }
    .vertnav__item-logo {
      width: 1rem;
      height: 1rem;
      background: #fff;
      border-radius: 2px; }
    .vertnav__item-name {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 185.2%;
      margin-left: 0.8rem;
      color: #fcfffc;
      align-self: center; }
  .vertnav__item:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3); }

.vertnav a {
  text-decoration: none; }

.photos {
  grid-column: 5 / -1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4rem;
  margin-left: -12rem; }
  .photos__item {
    width: 25.3rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    text-decoration: none;
    padding: 2rem; }
  .photos__caption {
    color: #065fa6;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: -3rem; }

.photos > a > img {
  height: 29rem;
  object-fit: cover; }

.intro {
  grid-column: 5 / -1;
  margin-top: 3rem;
  margin-left: -8rem; }
  .intro__vision-heading {
    color: #078604;
    font-size: 3.2rem;
    font-family: Roboto;
    font-weight: 500; }
  .intro__vision-des {
    font-size: 1.5rem;
    font-family: Roboto; }
  .intro__mission-heading {
    color: #078604;
    font-size: 3.2rem;
    font-family: Roboto;
    font-weight: 500; }
  .intro__mission-des {
    font-size: 1.5rem;
    font-family: Roboto; }

.objective__item {
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  margin-top: 2rem; }

.objective__item > * {
  margin: 0 0.5rem; }
