.chairman {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding: 3rem;
  margin: 2rem 5rem;
  &__image {
    float: right;
    display: block;
    margin: 0 2rem 2rem 4rem;
    height: 39vw;
  }

  &__text {
    &-heading {
      font-family: Montserrat;
      font-size: 3.3rem;
      font-style: normal;
      font-weight: 600;
      line-height: 6.3rem;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(7, 134, 4, 0.91);
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 185.2%;
      letter-spacing: 0.03em;
      color: #232725;
    }
  }
}



@media (max-width: 768px) {

  .chairman {
    margin: 2rem 1rem;

    &__text-heading {
      font-size: 2.5rem;
    }

    &__text p {
      font-size: 1.5rem;
    }
  }

}

@media (max-width: 600px) {
  .chairman {
    margin: 1rem;
    padding: 1rem;
    width: 100vw;

    &__text-heading {
      font-size: 2rem;
    }

    &__text p {
      font-size: 1.4rem;
      margin-right: 3rem;
    }

    &__image {
      width: 100%;
      height: 40vh;
      float: none;
      margin: 0 0 3rem 0;
      object-fit: cover;
      object-position: 50% 0%;
    }
  }
}
