.container {
  display: grid;
  grid-template-columns: 1fr repeat(12, 6.5rem) 1fr;
  grid-template-rows: 12rem min-content min-content min-content;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
	.container{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
}
