.main {
  grid-column: 1 / -1;
  position: relative;
  height: 70vh;
  width: 100vw;
  overflow: hidden;

  &__image {

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(17, 82, 16, 0.31);
      backdrop-filter: blur(2.5px);
      filter: blur(2.5px);
    }
  }

  &__quotation {
    position: absolute;
    background-color: #009245;
    width: 27rem;
    height: 27rem;
    padding: 2rem;
    top: 21%;
    left: 5%;
    z-index: 10;
    color: #fff;
    font-family: Cookie;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border-radius: 0 5rem 0 5rem;
    line-height: 5.5rem;
  }
}

.slide {
  height: 70vh;
  width: 100vw;
  background-size: cover;
  position: absolute;
  opacity: 0;
  animation: fade 20s infinite;
}

.slide1{
  background: url(../assets/main-image.png);
  height: 70vh;

}

.slide2{
  background: url(../assets/groupImg2.jpg);
  animation-delay: 5s;
}

.slide3{
  background: url(../assets/groupImg1.jpg) no-repeat center center;
  animation-delay: 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  
  5% {
    opacity: 1;
  }
  
  25% {
    opacity: 1;
  }
  
  30% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }
}


@media (max-width: 500px) {
  .main {
    width: 100vw;
    height: 40vh;

    &__quotation {
      width: 20rem;
      height: 15rem;
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  }

  .slide1, .slide2, .slide3 {
    // background-size: cover;
    height: 100%;
  }

  .slide {
    height: 100%;
  }
}
