.main {
  grid-column: 1 / -1;
  position: relative;
  height: 70vh;
  width: 100vw;
  overflow: hidden;

  &__image {
    
    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(17, 82, 16, 0.31);
      backdrop-filter: blur(2.5px);
      filter: blur(2.5px);
    }
  }

  &__quotation {
    position: absolute;
    background-color: #009245;
    width: 27rem;
    height: 27rem;
    padding: 2rem;
    top: 21%;
    left: 5%;
    z-index: 10;
    color: #fff;
    font-family: Cookie;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border-radius: 0 5rem 0 5rem;
    line-height: 5.5rem;
  }
}

.splide {
  height: 66vh !important;
  margin-top: 2rem !important;
}

.splide__slide {
  height: 60vh !important;
  position: relative;
}

.splide__caption{
  width: 40rem;
  height: 5rem;
  position: absolute;
  bottom: 1rem;
  right: 0;
  color: #fff;
  font-size: 1.5rem;
  background: rgba(0,0,0,0.7);
  z-index: 20;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide__progress {
  margin-top: 3rem !important;
}
.blurry__div {
    filter: blur(1.5px);
    transition: all .5s;
}

.splide:hover .blurry__div {
  filter: none;
}

.splide__track--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:10;
  background: rgba(0,0,0,0.5);
}

@media (max-width: 500px) {
  .main {
    width: 100vw;
    height: 40vh;

    &__quotation {
      width: 20rem;
      height: 15rem;
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  }

}
