.navbar {
    grid-column: 1 / -1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;

    &__hamburger {
        display: none;
    }

    &__items {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c6e8c5;

    }

    &__items--vertical {
        display: none;
    }
    

    &__items > *{
        text-decoration: none;
        margin: .5rem 1rem;
        padding: .3rem;
        font-family: Montserrat;
        font-size: 1.4rem;
        font-weight: 600;
        color:#3ba537;
        text-transform: uppercase;
        transition: all ease .2s; 
            
    }

    &__items>*:hover {
        border-bottom: 1.5px solid #3ba537;

    }

    &__btn {
        color: #fff;
        background: #009245;
        width: 12.7rem;
        height: 4rem;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-right: 8rem;   
    }

    &__texts {
        display: flex;
        align-items: center;
        margin: 0 0 1rem 0;
    }

    &__right {
        display: flex;
        margin: 0 6rem;
        align-items: center;
        justify-content: center;
    }

    &__right > * {
        background: #009245;
        color: #fff;
        padding: 0.8rem;
        margin: 0 1rem;
        cursor: pointer;
        border-radius: 0.2rem;
    }



    &__heading {
        color: #065fa6;
        font-size: 1.9rem;
        font-weight: 600;
        margin: 0 3rem;
    }

    &__homebtn {
        font-size: 1.2rem;
        margin: 0 2rem;
    }
    &__homebtn > * {
        margin: 0 .5rem;
    }

}

.homelink {
    text-decoration: none;
    color: #000;
}


.aboutus {
    position: relative;
    display: inline-block;

    &__dropdown {
        cursor: pointer;

        &-item {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          
          width: 20rem;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        &-item a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 1.2rem;
        }

        &-item a:hover {
            background: #c6e8c5;
        }
    }

}

.aboutus:hover .aboutus__dropdown-item {
    display: block;
}





/*
 RESPONSIVE CSS FOR THE NAVBAR GOES BELOW
RESPONSIVE DESIGN FOR THE MOBILE SIZE
*/

@media (max-width: 768px) {

    .navbar__items {
        z-index: 2;
        margin-left: 7rem;
    }

    .navbar__items > * {
        font-size: 1rem;
        margin: .5rem;
    }

    .navbar__right {
        margin: 0 1rem;

    }

    .navbar__right > * {
        margin: 0.5rem;
        padding: 0.3rem 0.2rem;
    }

    .navbar__homebtn {
        font-size: 1rem;
        margin: 0;
    }

    .navbar__heading {
        font-size: 1.5rem;
        width: 20rem;

    }

    .navbar__texts {
        align-self: flex-start;

    }
    
} 


@media(max-width: 500px) {
    .navbar {

        &__texts {
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
        }

        &__logo {
            width: 9rem;

        }

        &__right, .homelink {
            display: none;
        }

        &__hamburger {
            display: block;
            background: #009245;
            padding: .1rem .6rem;
            border-radius: 10%;
            margin-left: -1rem;
            cursor: pointer;
        }

        &__items {
            display: none;

            &--vertical {
                // display: flex;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
            }
        }

    }

    .nav_ham {
        font-size: 2.7rem;
        color: #fff;
    }

    .vertical__items {
        height: 80vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .vertical__items > * {
        margin: 1rem 0;
        font-size: 1.4rem;
    }

    .aboutus__dropdown-item a {
        font-size: 1rem;
    }

    .navbar__items-5 {
        text-decoration: none;
        color: #3ba537;
    }

    .cross {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;

        &__icon {
            font-size: 3.5rem;
        }
    }


}
/* 
END OF THE RESPONSIVE DESIGN 
FOR MOBILE SIZE
*/