.vertnav {
  grid-column: 2 / 5;
  height: 78.4rem;
  margin-top: 3rem;
  padding-top: 5rem;
  transform: translateX(-15rem);
  background-color: #065fa6;
  color: #fcfffc;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
    margin: 0.5rem 0;

    &-name {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 185.2%;
      margin-left: 0.8rem;
      color: #fcfffc;
      align-self: center;
    }
  }
}
