.vertnav {
  grid-column: 2 / 5;
  height: 78.4rem;
  margin-top: 5rem;
  background-color: #065fa6;
  color: #fcfffc;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &-name {
      margin-left: 1rem;
    }
  }
}
