.intro {
	grid-column: 5 / -1;
	margin-top: 3rem;
	margin-left: -8rem;

	&__vision {

		&-heading {
			color: #078604;
			font-size: 3.2rem;
			font-family: Roboto;
			font-weight: 500;
		}

		&-des {
			font-size: 1.5rem;
			font-family: Roboto;
		}
	}

	&__mission {

		&-heading {
			color: #078604;
			font-size: 3.2rem;
			font-family: Roboto;
			font-weight: 500;
		}

		&-des {
			font-size: 1.5rem;
			font-family: Roboto;
		}

	}
}


// objective.html styling below

.objective {

	&__item {
		display: flex;
		align-items: flex-start;
		font-size: 1.5rem;
		margin-top: 2rem;
	}

	&__item > * {
		margin: 0 0.5rem;
	}
}

// .objective:not(:first-child) {
// 	mar
// }


